<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="vue.js"></script>
    <script src="go-debug.js"></script>
    <script src="go-debug.d.ts"></script>
</head>
<body>


<div id="app">
    <input v-model="message.key" placeholder="placeholder1……">
    <input v-model="message.color" placeholder="placeholder2……">
</div>

<!--<button onclick="refresh()" >refresh</button>-->
<button onclick="show_model()" >show_model</button>
<div id="myDiagramDiv"
     style="width:640px; height:480px; background-color: #DAE4E4;"></div>
<script>
    "use strict";
    var vm  = new Vue({
        el: '#app',
        data: {
            message: {},
        }
    });

    var $ = go.GraphObject.make;

    var diagram = new go.Diagram("myDiagramDiv");
    diagram.undoManager.isEnabled=true;
    diagram.toolManager.mouseWheelBehavior=go.ToolManager.WheelZoom;

    var brush= new go.Brush(go.Brush.Linear);
    brush.addColorStop( 0.0, "blue");
    brush.addColorStop( 1.0, "Violet");

    var node = new go.Node(go.Panel.Auto);
    node.bind(new go.Binding("location", "loc"));
    var shape = new go.Shape();
    shape.figure = "RoundedRectangle";
    // shape.fill = brush  ;
    shape.bind(new go.Binding("fill","color"));
    node.add(shape);
    var textblock = new go.TextBlock();
    // textblock.text = "Hello!";
    textblock.bind(new go.Binding("text", "key"));
    textblock.margin = 50;
    node.add(textblock);
    diagram.nodeTemplate=node;

    var nodeDataArray = [
        { key: "Alpha", color: "lightblue"  },  // note extra property for each node data: color
        { key: "Beta", color: "lightgreen"  }
    ];
    var linkDataArray = [
        { from: "Alpha", to: "Beta" }
    ];
    diagram.model = new go.GraphLinksModel(nodeDataArray, linkDataArray);

    function refresh() {
        diagram.updateAllTargetBindings();
        //diagram.updateAllRelationshipsFromData();
    }

    function show_model() {
        //console.log( diagram.model.nodeDataArray);
        console.log( diagram.model.toJson());
    }

    diagram.addDiagramListener("ObjectSingleClicked",
        function(e) {
            var part = e.subject.part;
            if (!(part instanceof go.Link)) {
                console.log("Clicked on " + part.data.key);
                vm.message = part.data;
            }
        });

    diagram.addDiagramListener("LostFocus",
        function(e) {
            refresh();
        });
    diagram.addDiagramListener("GainedFocus",
        function(e) {
            refresh();
        });
</script>

</body>
</html>